{% extends "base.html" %}
{% block content %}
<h1></h1>
<br>
<br>
<br>
<br>
<h1>Policy and Privacy</h1>
<br>
<p> We at ZARA respect your privacy. This privacy policy (the “Policy”) describes the manner
    in which we (“we”, “ZARA” or “us”) collect your personal information and how we process
    it, consistent with our commitment to providing you with a satisfactory and helpful
    shopping experience.
    ZARA knows that you care about how your personal information is used and shared, and
    we take your privacy seriously.
    This Policy applies to our interactions with you in which we collect Personal Information
    (as described below), whether in person in our stores, by phone or other means through
    our customer service, as well as through your use of the ZARA.COM website/app and
    co-branded versions of the website located at URLs that point to the domain name
    ZARA.COM (the “Website” or “Site”). Because we gather certain types of information
    about our users, we want you to understand what information we collect, how we collect it,
    how that information is used, how you can consult that information and how you can
    control our disclosure of that information.
    By visiting our Site, using our services, purchasing products on our Website, posting on
    our message boards in social networks or online chats and making other submissions to
    our Site, or providing us with Personal Information (as described below), you acknowledge
    that you accept the practices and policies outlined in the then current Privacy Policy and
    our Terms and Conditions.
    You should review this Policy every time you provide us with Personal Information to make
    sure that you agree with it. If you do not agree with this Policy, please do not provide us
    with Personal Information or use our Site.</p>
    <br>
<ol type="1">
    <li>WHO IS ZARA?
        <p>For purposes of this Policy, ZARA means ITX Canada Inc. (doing business as ZARA,
            ZARA HOME and MASSIMO DUTTI) and Zara Canada Inc. ZARA also includes any
            affiliates or subsidiaries of the above-listed companies, as well as all of their respective
            successors and assigns.</p>
    </li>
    <li>WHAT IS PERSONAL INFORMATION?
        <p>Personal Information is information that refers to an individual specifically and is recorded
            in any form. Personal information includes such things as your name, last name, billing
            address, e-mail and postal addresses, telephone numbers and credit or debit card data,
            etc.</p>
    </li>
    <li>CHANGES TO THE PRIVACY AND COOKIES POLICY
        <p>We may amend the information contained in this Privacy and Cookies Policy when we consider this
            appropriate. Should we do so, we will notify you by various procedures through the Platform (for example,
            through a banner, a pop-up or a push notification), or we may even send you a notice to your e-mail
            address when the change in question is relevant to your privacy, for you to be able to review the changes,
            assess them and, as the case may be, object or unsubscribe from ay service or functionality. In any case,
            we suggest you to review this Privacy and Cookies Policy from time to time in case minor changes are
            made or we make any interactive improvement, taking the opportunity that you will always find it as a
            permanent point of information on our Website and our App.</p>
    </li>
    <li>INFORMATION ON COOKIES
        <p>To request that we rectify the personal data that we hold. Please bear in mind that if you are
            a registered user on the Platform, you may also access the relevant personal data section of
            your online account to change or update your personal data. In any case, please take into
            account that, on actively making your personal data available to us through any procedure,
            you guarantee that they are true and accurate and you undertake to notify to us any change
            or modification of your data. You will be liable for any loss or damage caused to the Platform
            or to the person responsible for the Platform or to any third party by reporting erroneous,
            inaccurate or incomplete information in the registration forms. Please remember that, as a
            general rule, you must provide us only with your own data, not with those of third parties,
            other than to the extent otherwise permitted in this Privacy and Cookies Policy.</p>
    </li>
    <li>WHAT HAPPENS WHEN YOU PROVIDE US WITH DATA OF THIRD
        PARTIES?
        <p>We offer functionalities or services that require us to process the personal data of a third party that you
            must provide, Card. If you provide us with personal data of third parties, you confirm that you informed
            them of the purposes and of the manner in which we need to process their personal data. If you have given us your consent to process your data for any purpose, you also have the right to
            withdraw such consent at any time. Some of the circumstances in which you may withdraw your
            consent are detailed in section 2 where we explain for which purposes we process your data.
            When we are legally permitted to process your data due to your consent or to for the purposes of a
            contract, as explained in section 3, you will also have the right to request the portability of your
            personal data. This means that you will have the right to receive the personal data that you made
            available to us in a structured, commonly used and machine-legible format, to be able to transmit them to
            another entity directly without impediments on our part.
            In addition, where the processing of your data is based on our legitimate interest, you will also have the
            right to object to the processing of your data.
            Finally, we inform you that you have the right to file a claim before the responsible data protection
            regulatory authority, in particular, before the Spanish Data Protection Agency (Agencia Española de
            Protección de Datos) (https://www.agpd.es).</p>
    </li>
</ol>
<br>
<br>
<br>
<br>
{% endblock %}