{% extends 'base.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <style>
        /* Bordered form */
    .form {
        border: 400px solid #ffffff;
        border-top: 400px;
        border-bottom: 400px;
        margin: 100px;
    }
      
      /* Full-width inputs */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    </style>
    <form class="form" method = 'POST'>
        {% csrf_token %}
        {{form.as_p}} 
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SUBMIT</button>
    </form>
</body>
</html>
{% endblock %}