{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<h1>Terms</h1>
<ol type="1">
    <li>INTRODUCTION
        <p>Welcome to the ZARA.COM website and co-branded versions of the website located at URLs that
            resolve to the domain name ZARA.COM (the "Website" or "Site"). As you have no doubt experienced
            with virtually all websites, your use of this Site, as well as the use of any ZARA-branded mobile
            application on your smartphone or handheld device ("Mobile App"), is subject to certain terms and
            conditions of use ( collectively "Terms") set forth below. These Terms are important for both you and
            us as they create a legally binding agreement between us, protecting your rights as a valued customer
            and our rights as a business.
            PLEASE READ THESE TERMS CAREFULLY BEFORE USING AND/OR PLACING AN ORDER
            FROM THIS WEBSITE OR THE MOBILE APP. THEY MAY SEEM TECHNICAL AND
            LEGALISTIC, BUT THEY ARE IMPORTANT. BY USING THIS SITE, OUR MOBILE APP,
            AND/OR PLACING AN ORDER FROM THIS SITE OR THE MOBILE APP, YOU ACCEPT THESE
            TERMS, THE ZARA GIFT CARD GENERAL TERMS AND CONDITIONS ("GIFT CARD
            TERMS"), AND OUR PRIVACY POLICY WITHOUT ANY RESERVATIONS OR
            QUALIFICATIONS, AND YOU AGREE TO BE BOUND BY THESE TERMS, THE GIFT CARD
            TERMS, AND OUR PRIVACY POLICY. THIS INCLUDES, WITHOUT LIMITATION,
            ACCEPTING THE TERMS RELATING TO BINDING ARBITRATION, WAIVER OF THE RIGHT
            TO CLASS ACTION, DISPUTE RESOLUTION (IF APPLICABLE) DISCLAIMER OF
            WARRANTIES, DAMAGE AND REMEDY EXCLUSIONS AND LIMITATIONS, AND NEW
            YORK CHOICE OF LAW AS SET FORTH HEREIN. IF YOU DO NOT AGREE TO THESE TERMS
            OR OUR PRIVACY POLICY, WHETHER IN WHOLE OR IN PART, PLEASE DO NOT USE THE
            SITE OR OUR MOBILE APP, OR ANY OF THE SERVICES PROVIDED ON THE SITE OR THE
            MOBILE APP, OR PLACE AN ORDER FROM THE SITE OR THE MOBILE APP.</p>
    </li>
    <li>DISPUTES
        <p>Alternatively, you may assert your claims in small claims court in accordance with the terms of these
            Terms if your claims qualify and so long as the matter remains in such court and advances only on an
            individual (non-class, non-representative) basis. The arbitrator shall apply New York law consistent
            with the Federal Arbitration Act and applicable statutes of limitations, and shall honor claims of
            privilege recognized at law. If you initiate arbitration against ZARA, you will not be responsible for
            professional fees for the arbitrator’s services or any other JAMS fees. If ZARA initiates arbitration
            against you, ZARA will pay for the arbitrator’s services and any other JAMS fees associated with the
            arbitration. In the event that the claimant is able to demonstrate that the costs of arbitration will be costprohibitive or greater than the costs of litigation, ZARA will pay as much of the claimant’s filing and
            hearing fees in connection with the arbitration as the arbitrator deems necessary to prevent the
            arbitration from being cost-prohibitive or more expensive than the cost of litigation. If any part of this
            arbitration provision is deemed to be invalid, unenforceable or illegal (other than the condition that
            claims will not be arbitrated on a class or representative basis), or otherwise conflicts with the rules and
            procedures established by JAMS, then the balance of this arbitration provision shall remain in effect
            and shall be construed in accordance with its terms as if the invalid, unenforceable, illegal or conflicting
            provision were not contained herein. If, however, the portion that is deemed invalid, unenforceable or
            illegal is that claims will not be arbitrated on a class or representative basis, then the entirety of this
            arbitration provision shall be null and void, and neither claimant nor ZARA shall be entitled to arbitrate
            their dispute. THE ARBITRATION OF DISPUTES PURSUANT TO THIS PARAGRAPH SHALL
            BE IN YOUR INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN
            ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. THE ARBITRATOR MAY
            NOT CONSOLIDATE OR JOIN THE CLAIMS OF OTHER PERSONS OR PARTIES WHO MAY
            BE SIMILARLY SITUATED. </p>
    </li>
    <li>WHY WE PROCESS YOUR PERSONAL DATA
        <p>
            Depending on the purpose for which we process your data from time to time, as explained above, we
            need to process one or other data, which will in general be, depending on each case, as follows:
            your identity data (for example, your name, surname, language and country from which you
            interact with us, contact data, etc.);
            economic and transactions information (for example, your payment or card data, information on
            your purchases, orders, returns, etc.);
            connection, geolocation and/or browsing data (if you interact with us from your mobile phone,
            for example);
            commercial information (for example, if you have subscribed to our newsletter),
            information about your tastes and preferences.
            Remember that, when we ask you to fill in your personal data to give you access to any functionality or
            service of the Platform, we will mark certain fields as compulsory, since this is information that we need to
            be able to provide the service or give you access to the functionality in question. Please take into account
            that, if you decide not to make such data available to us, you may be unable to complete your user
            registration or may not be able to enjoy those services or functionalities.
            Depending on how you interact with our Platform, i.e., depending on the services, products or
            functionalities that you wish to enjoy, we will process your personal data for the following purposes:</p>
    </li>
</ol>
{% endblock %}