{% extends 'base.html'%}
{% block content %}
<style>
    /* Bordered form */
.form {
    border: 400px solid #ffffff;
    border-top: 400px;
    border-bottom: 400px;
    margin: 100px;
}
  
  /* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
</style>
<form class="form" method = 'POST'>
    <h1>Sign Up</h1>
    {% csrf_token %}
    {{form.as_p}} 
    <button type="submit" class="btn btn-lg btn-success" >SUBMIT</button>
</form>
{% endblock %}